$bgcolor:#f0f0f0;
$txtcolor:#777a80;
$txtheading:#1bbc9b;
$dashcolor:#1bbc9b;
$red:red;
.mtop15{
    margin-top: 15px;
}
.mleft-30{
   margin-left: -30px;
}

/******Lines********/
// .ln{
//     border-left: 1px solid green;
// }
.pt{
    padding-top:17px;
}
.ln{
    margin-top:-14px;
    border:1px solid #eee
}
 .lnLgn{
     margin-top:0px;
 border-left: 1px solid green;
 }
 .txtColor{
     color:#1bbc9b;
 }
 .panel-color{
         background-color: white !important;
 }