<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="poetry">POETRY</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="signup"><i class="fa fa-user"></i> Sign Up</a></li>
        <li><a ui-sref="login"><i class="fa fa-sign-in"></i> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


<section class="animated fadeIn">
  <div class="container">
    <!--<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>-->

    <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5  login-layout">

      <div class="panel panel-default">
        <div class="panel-heading">
          <!--<div class="logo">
<i class="fa fa-key"></i>
  </div>-->
        </div>
        <div class="panel-body">
          <form name="login" ng-submit="Userlogin()">
            <div class="form-group">
              <label for="email">Username:</label>
              <input type="text" name="uname" class="form-control" ng-model="loginForm.username" required />
              <span class="red" ng-show="login.uname.$touched && login.uname.$invalid">
      * username required
    </span>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" ng-model="loginForm.password" name="pwd" class="form-control" required />
              <span class="red" ng-show="login.pwd.$touched && login.pwd.$invalid">
      * password required
    </span>
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Forget Password?</label>
            </div>
            <button type="submit" class="btn btn-signup btn-block" ng-disabled="disabled">Log In</button>
          </form>
          <div class="lns"></div>
          <div class="links"><a href="" style="color:#1bbc9b">CREATE AN ACCOUNT ?</a></div>
        </div>
      </div>
    </div>

  </div>
</section>