<div class="sideBar">
  <div class="">
    <ul class="nav">
      <li class="animated fadeIn">
        <img style="margin-left: 22px;margin-top: 37px;" src="../images/img1.jpg" class="img-circle " alt="Cinque Terre" width="60" height="60">
        <p style="margin-left: 22px;color:white">
          {{usersDetails.email}}</p>
        <p style="margin-left: 22px;color:white">Author <span class="circle circle-success circle-lg"></span> </p>
      </li>
      <li class="animated fadeIn ml9" style="margin-top:19px">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-th-large"></em>
          <span class="ml9">Dashboards</span>
        </a>
      </li>

      <li class="animated fadeIn ml9">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-user"></em>
          <span class="ml9">Layouts</span>
        </a>
      </li>

      <li class="animated fadeIn ml9">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-user"></em>
          <span class="ml9">Graphs</span>
        </a>
      </li>

      <li class="animated fadeIn ml9">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-cog"></em>
          <span class="ml9">Mailbox</span>
        </a>
      </li>
      <li class="animated fadeIn ml9">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-cog"></em>
          <span class="ml9">Metrics</span>
        </a>
      </li>
      <li class="animated fadeIn ml9">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-cog"></em>
          <span class="ml9">Widgets</span>
        </a>
      </li>
      <li class="animated fadeIn ml9">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-cog"></em>
          <span class="ml9">Forms</span>
        </a>
      </li>
      <li class="animated fadeIn ml9">
        <a href="" title="Dashboard" ripple="">
          <em class="fa fa-sign-in"></em>
          <span class="ml9">Logout</span>
        </a>
      </li>

    </ul>
  </div>
</div>