<div class="dashboard" style="margin-left:16%" ng-init="getUserData()">

    <nav class="navbar navbar-default" style="background-color:#eff3f6;width:84%">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="btn btn-primary ml6">
                  <i class="fa fa-bars"></i>
                 </button>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for something...">
                    </div>
                </form>
            </div>
            <ul class="nav  navbar-right">
                <li style="margin-right: 29px;">
                    <span class="m-r-sm text-muted welcome-message">Welcome to Poetry.</span>
                </li>
                <li style="margin-right: 29px;">
                    <i class="fa fa-envelope"></i>
                </li>
                <li style="margin-right: 5px;">
                    <i class="fa fa-bell"></i>
                </li>
                <li style="margin-right: 49px;">
                    <a href="" ng-click="logOut();"><i class="fa fa-sign-out"></i> Log out</a>
                </li>

            </ul>
        </div>
    </nav>
</div>