
<div class="topNav">
    
<div class="container-fluid">
   
    <div class="col-md-6 col-sm-6 col-xs-6">
<h3>TopNav 
    <i class="fa fa-arrow-circle-o-left"></i>
    </h3>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
       
        <div style="float:right">
        <img src="../images/user.jpg" class="img-circle" width="50" height="50"/>
        <span><b>Harisha</b></span>
         <span><b>| <a href ng-click="signout()"> Logout</a></b></span>
        </div>
    </div>
    
</div>
</div>
